/* Box Model Hack */
*{
  box-sizing: border-box;
}

/*
================= Layout Styles =================
*/
body {
  background: white;
  color: #444941;
  font-family: 'Roboto', sans-serif;
}

#title {
  margin-top: 3rem;
  text-align: center;
}

#form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input {
  background: #EEEEEE;
  color: #444941;
  padding: .5rem;
}

button, 
input {
  border: none;
  outline: none;
}

button {
  background: #3D56B2;
  color: white;
  padding: 0 .5rem;
}

#cocktails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cocktail {
  text-align: center;
  width: 20%;
  margin: 1rem;
  border-radius: .5rem;
}

img{
  height: 15rem;
  border-radius: .3rem;
}

div {
  text-align: left;
  padding: 1.5rem;
}

ul {
  min-height: 6rem;
}

/*
================= Additional Styles =================
*/
