/* Box Model Hack */
*{
  box-sizing: border-box;
}

/*
================= Layout Styles =================
*/

html {
  font-size: 62.5%;
}

body {
  background: #1c1c1c;
  color: #1c1c1c;
  font-family: 'Poppins', sans-serif;
}

#bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: -1000;
}

#primary-header {
  width: 100%;
  text-align: center;
}

#title {
  font-family: 'Koulen', cursive;
  font-weight: 500;
  font-size: 5rem;
  color: #fffaf0;
  margin: 4rem 0;
}

#form {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

input {
  background: #fffaf0;
  color: #1c1c1c;
  padding: 1.3rem 5rem 1.3rem 1.5rem;
}

button, 
input {
  font-size: 1.5rem;
  border: none;
  outline: none;
}

button {
  background: #c12422;
  color: white;
  padding: 0 2rem;
}

#cocktails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cocktail {
  display: flex;
  background: #fffaf0;
  width: 50%;
  height: 17rem;
  margin: .5rem 15%;
  border: .3rem solid #1c1c1c;
}

.cocktail-name {
  font-family: 'Koulen', cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
}

img{
  height: 100%;
}

div {
  text-align: left;
  padding: 2rem 4rem;
}

ul {
  margin-bottom: 1rem;
}